
h1{color: darkblue; font-size: 3cm; 
    
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h2{color: darkblue; font-size: 2cm; 
   
    display: flex;
    align-items: center;
    justify-content: center; 
    position: static;}
  
  h3{color: darkblue; font-size: 1cm; 
    
    display: flex;
    align-items: center;
    justify-content: center;}
img{position: relative;
left: 350px;}
#sáb{color: orangered;}
#dom{color: orangered;}
body{background-color: lightsteelblue;}
#WPP{position: fixed;bottom: 10px;left: 1280px;}
